<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <h3>Proxy status</h3>
    <button type="button" class="btn btn-primary" ng-click="newProxy()">
        <span class="glyphicon glyphicon-edit"></span> New Proxy
    </button>
    <button class="btn btn-primary" ng-click="start_or_stop()">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
    </button>
    <progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></progressbar>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Type</th>
                    <th>Port</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="proxy in proxys">
                    <td>{{proxy.owner}}</td>
                    <td>{{proxy.type}}</td>
                    <td>{{proxy.port}}</td>
                    <td>
                        <button ladda="loading" class="btn btn-warning" data-style="zoom-out" ng-click="clickBtn()">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </td>
                </tr>
        </table>
    </div>
</div>
